.mainToolbar {
    position: absolute;
    height: 100%;
    width: 50px !important;
    display: inline;
    background-color: #276ca9;
}

.subToolbar {
    height: 50px;
    background-color: #276ca9;
    width: 100%;
}

.active {
    background-color: #1b6d85 !important;
    border: 1px solid #1a10b5;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5), 0 1px 0;
}

.subMenuButton {
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 6px;
    background-color: #cde7f7;
    cursor: pointer;
    display: inline-block;
    margin-top: 6px;
    margin-left: 4px;
}

.thirdMenu {
    padding-left: 40px;
    font-size: 24px;
    position: absolute;
    padding-top: 10px;
}

.originSubMenu input {
    width: 80px;
}

.originSubMenu label {
    padding-left: 20px;
}

.newFile {
    background-image: url("../images/new.png");
}

.moveDevice {
    background-image: url("../images/move.png");
}

.myButton.file {
    background-image: url("../images/file.png");
}

.myButton.walls {
    background-image: url("../images/wall.png");
}

.myButton.device {
    background-image: url("../images/device.png");
}

.originFloorImage {
    background-image: url("../images/origin.png");
}

.scaleFloorImage {
    background-image: url("../images/scale.png");
}

.deleteWalls {
    background-image: url("../images/deleteWall.png");
}

.deleteDevice {
    background-image: url("../images/deleteDevice.png");
}

.clearFloorImage {
    background-image: url("../images/clear.png");
}

.importFile {
    background-image: url("../images/importConfig.png");
}
.exportFile {
    background-image: url("../images/export.png");
}

.captureFile {
    background-image: url("../images/capture.png");
}

.importFloorImage {
    background-image: url("../images/importImage.png");
}

.penWalls {
    background-image: url("../images/pen.png");
}

.cutWalls {
    background-image: url("../images/cut.png");
}

.addDevice {
    background-image: url("../images/add.png");
}

.selectDevice {
    background-image: url("../images/select.png");
}

.selectButton {
    background-image: url("../images/select.png");
}

.panSelect {
    background-image: url("../images/add.png");
}

.zoomSelect {
    background-image: url("../images/zoom.png");
}

.zoomOutSelect {
    background-image: url("../images/zoomOut.png");
}

.ui-icon {
    height:40px;
    width: 39px;
    display: block;
}

div#ThreeJS{
    left: 48px;
}

#deviceDetailsLocation {
    position: absolute;
    background: white;
}

.myButton {
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    width: 39px;
    height: 2.5em;
    border-radius: 6px;
    background-color: #cde7f7;
    margin-bottom: 3px;
    cursor: pointer;
    display: inline-block;
    margin-left: 4px;
}

.tooltipStyle {
    box-shadow: 0 0 10px black !important;
}

.tooltipHeader {
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
}

.tooltipContent {
    font-size: 12px;
    font-family: Calibri;
}

.addDeviceMenu {
    position: initial;
}

.deviceMenu {
    width: 400px;
    left: 60px;
    top: 200px;
    position: absolute !important;
    color: #060e46;
    border: 1px solid #d9edf7;
    background-color: #f2f3f0;
    font-size: 16px;
    font-family: calibri;
    font-weight: 500;
    text-align: center;
}

.deviceHeader {
    background-color: #ccc;
}

th {
    font-size: 20px;
}

#textContainer td {
    padding-left: 5px;
    padding-right: 5px;
    padding-botton: 5px;
}

.deviceContainerClose {
    position: relative;
    float:right;
    padding:2px 5px;
    background:#ccc;
}

.toolbox-tools {
    float: right;
    color: #060e46;
    border: 1px solid #d9edf7;
    width: 300px;
    overflow: hidden;
    border-radius: 2px;
    background-color: #f2f3f0;
    text-align: center;
    height: 120px;
    font-size: 16px;
    font-family: calibri;
    font-weight: 500;
    position: fixed !important;
    bottom: 80px;
    right: 41px;
}

.panel-heading {
    cursor: move;
    padding-bottom: 5px;
}

.close-toolbox-tools,
.deviceContainerClose {
    cursor: pointer;
}