.mainToolbar {
    position: absolute;
    height: 100%;
    width: 40px !important;
    display: inline;
    background-color: aliceblue;
}

.ui-icon {
    height:40px;
    width: 39px;
    display: block;
}

.fa {
    width: 39px;
    //display: block !important;
}

canvas {
    position: absolute;
    left: 48px;
}

.myButton {
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    border-radius: 6px;
    background-color: #3e3e42;
    margin-bottom: 3px;
    cursor: pointer;
}

.tooltipStyle {
    box-shadow: 0 0 10px black !important;
}

.tooltipHeader {
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
}

.tooltipContent {
    font-size: 12px;
    font-family: Calibri;
}

.deviceMenu,
.addDeviceMenu {
    position: absolute;
    color: white;
    border: 1px solid #d9edf7;
}

.addDeviceMenu {
    width: 400px;
    left: 500px;
    top: 200px;
}

.deviceMenu {
    width: 200px;
    left: 60px;
    top: 200px;
}

.deviceContainerClose {
    position: relative;
    float:right;
    padding:2px 5px;
    background:#ccc;
}

.originSubMenu,
.scaleSubMenu {
    display: inline;
}