.mainToolbar {
    position: absolute;
    height: 100%;
    width: 40px !important;
    display: inline;
    background-color: aliceblue;
}

.subToolbar {
    height: 50px;
}

.subMenuButton {
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 6px;
    background-color: #3e3e42;
    cursor: pointer;
    display: inline-block;
}

.newFile {
    background-image: url("../images/new.PNG");
}

.importFile {
    background-image: url("../images/importConfig.PNG");
}

.importFloorImage {
    background-image: url("../images/importImage.PNG");
}

.pewnWalls {
    background-image: url("../images/pen.PNG");
}

.cutWalls {
    background-image: url("../images/cut.PNG");
}

.addDevice {
    background-image: url("../images/add.PNG");
}

.ui-icon {
    height:40px;
    width: 39px;
    display: block;
}

.fa {
    width: 39px;
}

canvas {
    position: absolute;
    left: 48px;
}

.myButton {
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    border-radius: 6px;
    background-color: #3e3e42;
    margin-bottom: 3px;
    cursor: pointer;
}

.tooltipStyle {
    box-shadow: 0 0 10px black !important;
}

.tooltipHeader {
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
}

.tooltipContent {
    font-size: 12px;
    font-family: Calibri;
}

.addDeviceMenu {
    position: initial;
}

.deviceMenu {
    width: 400px;
    left: 60px;
    top: 200px;
    position: absolute;
    color: #060e46;
    border: 1px solid #d9edf7;
    background-color: #f2f3f0;
    font-size: 16px;
    font-family: calibri;
    font-weight: 500;
    text-align: center;
}

.deviceHeader {
    background-color: #ccc;
}

th {
    font-size: 20px;
}

#textContainer td {
    padding-left: 5px;
    padding-right: 5px;
    padding-botton: 5px;
}

.deviceContainerClose {
    position: relative;
    float:right;
    padding:2px 5px;
    background:#ccc;
}

.originSubMenu,
.scaleSubMenu {
    display: inline;
}

.toolbox-tools {
    float: right;
    color: #060e46;
    border: 1px solid #d9edf7;
    width: 300px;
    overflow: hidden;
    border-radius: 2px;
    background-color: #f2f3f0;
    text-align: center;
    height: 120px;
    font-size: 16px;
    font-family: calibri;
    font-weight: 500;
    position: fixed !important;
    bottom: 80px;
    right: 41px;
}

.panel-heading {
    cursor: move;
    padding-bottom: 5px;
}

.close-toolbox-tools,
.deviceContainerClose {
    cursor: pointer;
}